{% extends 'base.html' %}

{% block content %}

<p>Welcome to Pretzels </p>

<div id="pretzels">
    Loading....
</div>

<script>

    const Pretzels = document.getElementById("pretzels");
    function formatPretzelElement(pretzel){
        formatted = "<div class="pretzel" id='pretzel-"+ pretzel.id +"'>"+"<h1>" + listedItems[i].id + "</h1>" + "<p>" + listedItems[i].content + "<p>"+"</div>";
        return formatted
    }

    const xhr = new XMLHttpRequest();
    const method = 'GET';
    const url = "/pretzels";
    const responseType = "json";

    xhr.responseType = responseType;
    xhr.open(method, url);
    xhr.onload = () => {
        const serverResponse = xhr.response;
        var listedItems = serverResponse.response;
        var finalPretzelStr = "";
        var i;
        for (i=0; i < listedItems.length; i++){
            var PretzelObj = listedItems[i]
            var currentItem = formatPretzelElement(PretzelObj);
            finalPretzelStr += currentItem;
        }
        Pretzels.innerHTML = finalPretzelStr; 
    }
    xhr.send();

</script>
{% endblock content %}